<div class="bg"></div>
<div class="jumbotron">
    <div class="container">
        <h1>Nailed</h1>
        <p>-- INSERT LONG AND BORING STORY HERE --</p>
        <a class="btn btn-primary btn-lg" role="button">More info ></a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-6 col-sm-6 col-lg-4">
            <h2>Online Players</h2>
            <ul>
                <li>Clank26</li>
                <li>jk-5</li>
                <li>zM600D</li>
                <li>armjets</li>
            </ul>
            <p><a class="btn btn-default" href="#" role="button">Full list »</a></p>
        </div>
        <div class="col-6 col-sm-6 col-lg-4">
            <h2>Active maps</h2>
            <p><a class="btn btn-default" href="#" role="button">Full list »</a></p>
        </div>
        <div class="col-6 col-sm-6 col-lg-4">
            <h2>Available Mappacks</h2>
            <ul>
                <li ng-repeat="m in mappacks">
                    <a ng-href="#/mappacks/{{m.id}}">{{m.name}}</a>
                </li>
            </ul>
            <p><a class="btn btn-default" href="#/mappacks" role="button">More Info »</a></p>
        </div>
        <div class="col-6 col-sm-6 col-lg-4">
            <h2>Available Mappacks</h2>
            <ul>
                <li ng-repeat="m in mappacks">
                    <a ng-href="#/mappacks/{{m.id}}">{{m.name}}</a>
                </li>
            </ul>
            <p><a class="btn btn-default" href="#/mappacks" role="button">More Info »</a></p>
        </div>
        <div class="col-6 col-sm-6 col-lg-4">
            <h2>Available Mappacks</h2>
            <ul>
                <li ng-repeat="m in mappacks">
                    <a ng-href="#/mappacks/{{m.id}}">{{m.name}}</a>
                </li>
            </ul>
            <p><a class="btn btn-default" href="#/mappacks" role="button">More Info »</a></p>
        </div>
        <div class="col-6 col-sm-6 col-lg-4">
            <h2>Available Mappacks</h2>
            <ul>
                <li ng-repeat="m in mappacks">
                    <a ng-href="#/mappacks/{{m.id}}">{{m.name}}</a>
                </li>
            </ul>
            <p><a class="btn btn-default" href="#/mappacks" role="button">More Info »</a></p>
        </div>
        <div class="col-6 col-sm-6 col-lg-4">
            <h2>Available Mappacks</h2>
            <ul>
                <li ng-repeat="m in mappacks">
                    <a ng-href="#/mappacks/{{m.id}}">{{m.name}}</a>
                </li>
            </ul>
            <p><a class="btn btn-default" href="#/mappacks" role="button">More Info »</a></p>
        </div>
        <div class="col-6 col-sm-6 col-lg-4">
            <h2>Available Mappacks</h2>
            <ul>
                <li ng-repeat="m in mappacks">
                    <a ng-href="#/mappacks/{{m.id}}">{{m.name}}</a>
                </li>
            </ul>
            <p><a class="btn btn-default" href="#/mappacks" role="button">More Info »</a></p>
        </div>
        <div class="col-6 col-sm-6 col-lg-4">
            <h2>Available Mappacks</h2>
            <ul>
                <li ng-repeat="m in mappacks">
                    <a ng-href="#/mappacks/{{m.id}}">{{m.name}}</a>
                </li>
            </ul>
            <p><a class="btn btn-default" href="#/mappacks" role="button">More Info »</a></p>
        </div>
        <div class="col-6 col-sm-6 col-lg-4">
            <h2>Available Mappacks</h2>
            <ul>
                <li ng-repeat="m in mappacks">
                    <a ng-href="#/mappacks/{{m.id}}">{{m.name}}</a>
                </li>
            </ul>
            <p><a class="btn btn-default" href="#/mappacks" role="button">More Info »</a></p>
        </div>
        <div class="col-6 col-sm-6 col-lg-4">
            <h2>Available Mappacks</h2>
            <ul>
                <li ng-repeat="m in mappacks">
                    <a ng-href="#/mappacks/{{m.id}}">{{m.name}}</a>
                </li>
            </ul>
            <p><a class="btn btn-default" href="#/mappacks" role="button">More Info »</a></p>
        </div>
        <div class="col-6 col-sm-6 col-lg-4">
            <h2>Available Mappacks</h2>
            <ul>
                <li ng-repeat="m in mappacks">
                    <a ng-href="#/mappacks/{{m.id}}">{{m.name}}</a>
                </li>
            </ul>
            <p><a class="btn btn-default" href="#/mappacks" role="button">More Info »</a></p>
        </div>
        <div class="col-6 col-sm-6 col-lg-4">
            <h2>Available Mappacks</h2>
            <ul>
                <li ng-repeat="m in mappacks">
                    <a ng-href="#/mappacks/{{m.id}}">{{m.name}}</a>
                </li>
            </ul>
            <p><a class="btn btn-default" href="#/mappacks" role="button">More Info »</a></p>
        </div>
        <div class="col-6 col-sm-6 col-lg-4">
            <h2>Available Mappacks</h2>
            <ul>
                <li ng-repeat="m in mappacks">
                    <a ng-href="#/mappacks/{{m.id}}">{{m.name}}</a>
                </li>
            </ul>
            <p><a class="btn btn-default" href="#/mappacks" role="button">More Info »</a></p>
        </div>
        <div class="col-6 col-sm-6 col-lg-4">
            <h2>Available Mappacks</h2>
            <ul>
                <li ng-repeat="m in mappacks">
                    <a ng-href="#/mappacks/{{m.id}}">{{m.name}}</a>
                </li>
            </ul>
            <p><a class="btn btn-default" href="#/mappacks" role="button">More Info »</a></p>
        </div>
        <div class="col-6 col-sm-6 col-lg-4">
            <h2>Available Mappacks</h2>
            <ul>
                <li ng-repeat="m in mappacks">
                    <a ng-href="#/mappacks/{{m.id}}">{{m.name}}</a>
                </li>
            </ul>
            <p><a class="btn btn-default" href="#/mappacks" role="button">More Info »</a></p>
        </div>
        <div class="col-6 col-sm-6 col-lg-4">
            <h2>Available Mappacks</h2>
            <ul>
                <li ng-repeat="m in mappacks">
                    <a ng-href="#/mappacks/{{m.id}}">{{m.name}}</a>
                </li>
            </ul>
            <p><a class="btn btn-default" href="#/mappacks" role="button">More Info »</a></p>
        </div>
        <div class="col-6 col-sm-6 col-lg-4">
            <h2>Available Mappacks</h2>
            <ul>
                <li ng-repeat="m in mappacks">
                    <a ng-href="#/mappacks/{{m.id}}">{{m.name}}</a>
                </li>
            </ul>
            <p><a class="btn btn-default" href="#/mappacks" role="button">More Info »</a></p>
        </div>
    </div>
</div>
<script type="text/javascript">
    var jumboHeight = $('.jumbotron').outerHeight();
    $(window).scroll(function(e){
        var scrolled = $(window).scrollTop();
        $('.bg').css('height', (jumboHeight - scrolled) + 'px');
    });
</script>
