<div class="container">
    <h1>Mappacks</h1>
    <div class="btn-toolbar well well-sm" role="toolbar">
        <a href="#/mappacks/$createNew" ng-show="user.permissions.createMappack" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> New Mappack</a>

        <input style="width:auto;display:inline" type="search" class="form-control pull-right" ng-model="q" placeholder="Search..."/>
    </div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th width="70">Times Played</th>
            <th width="70">Total Plays</th>
            <th width="30">Load</th>
            <th width="200">Tags</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="m in mappacks | filter:q">
            <td><a style="text-decoration:none;" ng-href="#/mappacks/{{m.mpid}}">{{m.name}}</a></td>
            <td>{{m.timesPlayedUser}}</td>
            <td>{{m.timesPlayedGlobal}}</td>
            <td><button class="btn btn-success btn-xs" ng-click="loadMappack(m)">Load</button></td>
            <td>
                <span ng-repeat="tag in m.tags"><span class="label label-info">{{tag}}</span>&nbsp;</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
